html {
  box-sizing: border-box;
   }
* { 
  padding: 0;
  margin: 0; 
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  font-family: 'Open Sans' ,'Arial', sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
} 
 
 .container {
    display: block;
    width: 1110px;
    margin: 0 auto;
    
       
  }
  .clearfix::after {
    display: table;
    content: "";
    clear: both;
  }

  /* header section */
.logo {
  float: left;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 32px;
  color: #000000;
  font-weight: 300;
  padding: 34px 0px 24px 0px;
 
  
}

.logo::first-letter{
  color: #1abc9c;
  font-weight: 900;
}
.line-header{
  float: right;
  list-style: none;
  padding: 44px 0px 35px 0px;
  
  }

  .line-header a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    
  }

.item-header li {
  float: left;
  list-style: none;
  line-height: 11px;
  margin-right: 29px;
  
}
.item-header li:last-child {
  margin-right: 0;
}

.line-header a:hover {
  color: #1abc9c;
}
 
  
/* slider section */

.grid-slider {
  width: 100%; 
  position: relative;
} 
 
.grid-slider-img {
  position: relative;
  display: block;
  height: 600px;
  width: 100%; 
  object-fit: cover;
} 


.grid-slider-overlay {
  position: absolute;
  height: 100%;
  width: 100%; 
  top: 0;
  left: 0;
  background: rgba(0,0,0,.52);
} 

.slider-arrow {
  position: absolute;
  border: none;
  width: 104px;
  height: 104px;
  background-color: #1abc9c;
  top: 50%;
  opacity: 0.5;
  transform: translateY(-50%);
}

 
.slider-arrow-left {
   left: 0;
}

.slider-arrow-right {
  right: 0;
}

.pe-7s-angle-left {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: rgba(255,255,255);
  opacity: 0.5;
}
.pe-7s-angle-right {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: rgba(255, 255, 255);
  opacity: 0.5; 
}

.slider-arrow-right:hover {
  opacity: 1;
}
.slider-arrow-left:hover {
  opacity: 1;
}
  
.slider-arrow-right:hover .pe-7s-angle-right {
  opacity: 1;
}
.slider-arrow-left:hover .pe-7s-angle-left {
  opacity: 1;
}

.grid-slider-description{

  position: absolute;
  width: 894px;
  top: 50%;
  left: 50%;
  transform: translate(-45%,-60%);
  color: #ffffff;
}
.grid-slider-upper-text {
  font-size: 60px;
  line-height: 82px;
  font-family: "Roboto";
  font-weight: 900;
  margin-bottom: 35px;
} 

.grid-slider-under-text {
  color: #ffffff;
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 300;
}

/* section-title*/

.wrapper {
  width: 100%;
  height: 670px;
  background-color: #e9f0fd;
}

.section-title {
  font-size: 48px;
  line-height: 32px;
  color: #515151;
  font-family: "Roboto";
  font-weight: 900;
  text-align: center;
  padding-top: 100px;
  }

.section-title::after {
    display: block;
    content: "";
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: auto;
    margin-top: 34px;
    margin-bottom: 80px;
    background-image: url(../img/inline-element.png); 
    background-position: center;
  }

  /* new collection section */

  .new-collection-item {
    position: relative;
    display: block;
    width: 255px;
    float: left;
    margin-right: 30px;
    text-decoration: none;
  }
   
  .new-collection-item:nth-last-child(1) {
    margin-right: 0;
  }
  .item-img {
    display: block;
  }

  .item-description {
    background-color: #323232;
    
  }

 .item-price {
   width: 201px;
   float: left;
   font-size: 18px;
   line-height: 40px;
   text-transform: uppercase;
   text-decoration: none;
   padding: 0 15px;
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   color: rgb(255, 255, 255);
 }

 .price {
   width: 54px;
   float: right;
   font-size: 18px;
   line-height: 40px;
   text-transform: uppercase;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   padding: 0 11px;
   background-color: rgba(255,255, 255, 0.44);
   color: rgb(255, 255, 255);
 }



.different-icons {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 7px;
  background: transparent;
  border: 1px solid#ffffff;
  margin-bottom: 5px;
}

.different-icons:nth-last-child(1) {
  margin-right: 0;
}


.cover {
  position: absolute;
  width: 100%;
  height: 284px;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgb(0, 0, 0);
  opacity: 0;
}

.overlay-icons {
  position: absolute;
  width: 168px;
  height: 108px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.new-collection-item:hover .cover {
  opacity: 0.549;
} 

.new-collection-item:hover .overlay-icons {
  opacity: 1;
} 

.pe-7s-like {
  width: 37px;
  height: 29px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  background: transparent;
}
.pe-7s-shuffle {
  width: 37px;
  height: 29px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  background: transparent;
} 
.pe-7s-clock {
  width: 37px;
  height: 29px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  background: transparent;
}


.adding-to-cart {
  width: 166px;
  height: 50px;
  background-color: #323232;
  border: 1px solid #ffffff;
}

.pe-7s-cart {
float:left;
width: 37px;
height: 29px;
font-size: 30px;
line-height: 32px;
color: #ffffff;
text-align: center;
}


.cart-description {
  float: right;
  width: 114px;
  height: 29px;
  font-size: 14px;
  line-height: 32px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}


.new-collection-item:hover .item-description {
  background-color:#1abc9c;
}

.heart:hover {
  background-color:#1abc9c;
  
}

.shuffle:hover {
  background-color:#1abc9c;
}

.clock:hover {
  background-color:#1abc9c;
}
.adding-to-cart:hover {
  background-color:#1abc9c;
}

/* footer */
.footer-line {
  height: 88px;
  width: 100%;
  background-color: #323232;
}

.footer-descr {
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(254, 254, 254);
  line-height: 1.75;
  text-align: center;
  padding-top: 30px;
}

.footer-descr a{
  text-decoration: none;
  color: #1abc9c;
}












  










  

  

  
  
  





 




