html {
  box-sizing: border-box;
}
*,
*:: before,
*:: after {
  box-sizing: inherit;
}

body{
  font-family: 'Playfair Display', 'ubuntu',serif;
  color: rgb(98, 98, 98);
  font-size: 14px;
  line-height: 24px;
}
.nav-size{
  margin: 0;
  padding: 0;
  width: 901px;
  height: 189px;;
}
.container {
  display: inline-block;
  width: 901px;
  margin: 0 auto;
}


.header-navigation{
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
  line-height: 24px;

}
.header-navigation li {
  display: inline-block;
  padding-top: 72px;
  margin-left: 123px;
  vertical-align: top;
  text-align: center; 
}
.header-navigation li:last-child {
  margin-right: 0;
}

.header-item-hover:hover{
   color: blue;
}


.header-navigation a{
  color:rgb(98, 98, 98);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 16px;
}

.blogs-articles { 
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 901px;
 
}

.articles-content-item {
  list-style: none;  
  margin: 0;
  padding: 0;
}

.articles-list-item {
  display: inline-block;
  width: 421px;
  margin-right: calc(60px-4px);
  margin-bottom: 0;
  margin-top: 0;
}

.articles-list-item:nth-child(2n){
  margin-right: 0;
}

.articles-list-item h2{
  color:rgb(98, 98, 98);
  line-height: 36px;
  font-size: 30px;
  margin-bottom: 34px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.articles-content-description{
  display: inline-block;
  font-family:"ubuntu";
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}
.articles-content-item {
  margin-bottom: 126px;
}


.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}





